<a href="#main-content">Skip to content</a>
<header role="banner" class="site-head">
  <div class="wrapper space-between">
    <div>
      <a href="/" aria-label="{{ site.name }} - home" class="logo no-underline">
        {{ site.name }}
        <img src="/images/flower-hi.png" alt="flower" width="75px" height="75px"  />
      </a>
      
    </div>
    <nav aria-label="Primary" >
      <ul class="nav-bar space-between" id="nav-bar">
        {% for item in navigation.items %}
        <li class="nav-items">
          <a href="{{ item.url }}" class="cursive no-underline">{{ item.text }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>